.img-wrapper .shiba {
  padding-left: 10em;
  width: 35em;
}

.btn-wrapper .socialBtn {
  padding: 0.9em;
  position: relative;
  width: 15em;
}

.paragraph1 {
  font-family: var(--gameFont2);
}
.headerTitle {
  font-family: var(--gameFont);
  z-index: 10;
  color: var(--whiteColor);
}
.btn {
  font-family: var(--gameFont);
}
.custom-shape-divider-top-1642533550 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1642533550 svg {
  position: relative;
  display: block;
  width: calc(182% + 1.3px);
  height: 155px;
}

.custom-shape-divider-top-1642533550 .shape-fill {
  fill: var(--whiteColor);
}

@media only screen and (max-width: 576px) and (min-width: 350px) {
  .img-wrapper .shiba {
    position: relative;
    width: 22em;
    right: 7.5em;
    bottom: 0.8em;
    z-index: 10;
  }
  .btn-wrapper .socialBtn {
    padding: 0.9em;
    position: relative;
    width: 8em;
  }
  .twitt-icon,
  .tele-icon {
    display: none;
  }
  .para .paragraph1 {
    font-size: 10px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 577px) {
  .img-wrapper .shiba {
    position: relative;
    width: 25em;
    left: 2.5em;
    bottom: 1em;
    z-index: 10;
  }
  .para .paragraph1 {
    font-size: 14px;
    line-height: initial;
  }
  .btn-wrapper .socialBtn {
    padding: 0.9em;
    position: relative;
    width: 8em;
  }
  .twitt-icon,
  .tele-icon {
    display: none;
  }
  .custom-shape-divider-top-1642533550 svg {
    width: calc(182% + 1.3px);
    height: 113px;
  }
}
@media only screen and (max-width: 992px) and (min-width: 770px) {
  .img-wrapper .shiba {
    position: relative;
    width: 27em;
    left: 5em;
    bottom: 2em;
    z-index: 10;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 993px) {
  .img-wrapper .shiba {
    position: relative;
    width: 32em;
    right: 8em;
    bottom: 3em;
  }
  .shibaHouse {
    margin-top: 5em;
  }
  .btn-wrapper .socialBtn {
    padding: 0.9em;
    position: relative;
    bottom: 3em;
  }
  .para .paragraph1 {
    font-size: 12px;
    line-height: initial;
  }
  .headerTitle {
    position: relative;
    bottom: 32px;
  }
}
