@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Press+Start+2P&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  background-color: #212529;
}

:root {
  --gameFont: 'Orbitron', sans-serif;
  --gameFont2: 'Press Start 2P', cursive;
  --yellowColor: #fcd032;
  --blueColor: #369fe3;
  --redColor: #cf0d0e;
  --blackColor: #212529;
  --whiteColor: #cccbcb;
  --goldColor: #c4ac79;
}
